{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
{% if is_granted("ROLE_ADMIN") %}
<div class="panel"></aside>
<h1>panneau de configuration</h1>          

    <aside class="panel">
        <section class="panel-user">
            <h2>gestion des User</h2>
            <a href="">list User</a></br>
            <a href="{{ path('new_user') }}">Nouveau User</a>
        </section>

        <section class="panel-deck">
            <h2>gestion des decks</h2>
            <a href="{{ path('app_deck') }}">Lists des decks</a></br>
            <a href="{{ path('new_deck') }}">Nouveau deck</a>
        </section>

        <section class="panel-category">
            <h2>gestion des Categories</h2>
            <a href="{{ path('app_category') }}">List des catégories</a></br>
            <a href="{{ path('new_category') }}">Nouvelle category</a>
        </section>
    
        <section class="panel-topic">
            <h2>gestion des topics</h2>
            <a href="{{ path('app_topic') }}">list des topics</a></br>
            <a href="{{ path('new_topic') }}">Nouveau topic</a>
        </section>

        <section class="panel-post">
            <h2>gestion des posts</h2>
            <a href="{{ path('new_post') }}">Nouveau post</a>
        </section>
    </aside>
        
    
    
</div>

{% endif %}
    
{% endblock %}