{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    {% if app.user.username is defined %}
    <h1>Hello {{ app.user.username }}</h1>
    {% else %}
    <h1>Hello</h1>
    {% endif %}
    <img class="imagebanniere" src="{{ asset ('images/' ~ card.id ~ '.jpg') }}" alt="{{ card.name }}" >
    <table>
        <tr class="table-primary">
            <th>titre</th>
            <th>date création</th>
            <th>public</th>
        </tr>
        {% for deck in decks %}
        <tr>
            <td><a href="{{ path('update_deck', {'id': deck.id}) }}">{{deck.title}}</a></td>
            <td>{{deck.createdAt|date('d-m-Y')}}</td>
            <td>{{deck.Closed}}</td>
        </tr>
            
        {% endfor %}
    </table>
    
{% endblock %}
