{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    {% if app.user.username is defined %}
    <h1>Hello {{ app.user.username }}</h1>
    {% else %}
    <h1>Hello</h1>
    {% endif %}
    <img class="imagebanniere" src="{{ asset ('images/banniereAccueil.jpg') }}" alt="bannière emprunter fait par markjasonsedanza5, sur le site artstation" >

    <article>
    <h4>List deck populaire</h4>
        <div id="homeListDeck">
            
            {% for deck in decks %}
            <div class="homeDeck">
                
                <div class="titredeck">
                    <h5>   
                        <a href="{{ path('update_deck', {'id': deck.id}) }}">{{deck.title}}</a>
                    </h5>
                </div>
                <div class="imagedeck"><img src="{{ asset ('imagesDeck/' ~ deck.picture ~ '.jpg') }}"></div>
                <div class="corpdeck">
                    <p>
                        crée par {{deck.user}}<br>
                        à {{deck.createdAt|date('d-m-Y')}}
                    </p>
                </div>
            </div>
            
        
            {% endfor %}
        </div>
    </article>
        

    
{% endblock %}
