{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    {% if app.user.username is defined %}
    <h1>Hello {{ app.user.username }}</h1>
    {% else %}
    <h1>Hello</h1>
    {% endif %}
    <img class="imagebanniere" src="{{ asset ('images/banniereAccueil.jpg') }}" alt="bannière emprunter fait par markjasonsedanza5, sur le site artstation" >

            
        
        {% for deck in decks %}
        
            <p><a href="{{ path('update_deck', {'id': deck.id}) }}">{{deck.title}}</a></p>
            
            <p>crée par User à {{deck.createdAt|date('d-m-Y')}}</p>
        
        {% endfor %}

    
{% endblock %}
