{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<div class="js">
    <div class="parallax">
        <h1>YugiDeck</h1>
    </div>
<section class="deck-section">
    <article class="content">
        <h4>List deck populaire</h4>
            <div id="homeListDeck">
                
                {% for deck in decks %}
                <div class="homeDeck">
                    
                    <div class="titredeck">
                        <h5>   
                            <a href="{{ path('update_deck', {'id': deck.id}) }}">{{deck.title}}</a>
                        </h5>
                    </div>
                    <div class="imagedeck"><img src="{{ asset ('imagesDeck/' ~ deck.picture ~ '.jpg') }}"></div>
                    <div class="corpdeck">
                        <p>
                            crée par {{deck.user}}<br>
                            à {{deck.createdAt|date('d-m-Y')}}
                        </p>
                    </div>
                </div>
                
            
                {% endfor %}
            </div>
        </article>
</section>
<div class="parallax">
    ping
</div>
 <section class="topic-section">
    <article class="content">
        <h4>List Topic populaire</h4>
        <article class="homeListTopic">
            {% for topic in topics %}
            <div class="topic-post">
                <div class="overlay">
                    <h2>{{topic.title}}</h2>
                    <p>{{topic.createdAt|date("d-m-Y")}}
                    {{topic.user}}
                    Résumé du topic...</p>
                </div>
            </div>
            
        
            {% endfor %}
        </article>
    </article>
 </section>
 <div class="parallax">
    ping
</div>


 <button type="button" id="scrollToTopBtn" class="hidden">Haut de page</button>  

    
        

</div>
{% endblock %}
