


<div id="listCards">
{% for card in cards.data %}

    <div id="{{card.id}}"  >
        <div class="image-carte-min">
            <dialog class="dialog">
                        <button autofocus class="closeDetailCard">
                            Fermer
                        </button>
                        <div class="detailCard">
                            <img class="imagedetail" src="{{ asset ('images/' ~ card.id ~ '.jpg') }}" alt="{{ card.name }}" >
                            <div class="tableauDetailCard">
                                <div class="namecard"><h6>Nom de carte</h6>
                                    <b>{{ card.name }}</b>
                                </div>
                                <div class="typecard">
                                    <b>Type de carte : </b>{{ card.type }}
                                </div>
                            
                                
                                {% if card.frameType == "normal" or card.frameType == "effect" or card.frameType == "ritual" or card.frameType == "fusion" or card.frameType == "synchro" or card.frameType == "xyz" or card.frameType == "pendulum" or card.frameType == "link" %}
                                    <div>
                                        <b>Attribut : </b>{{ card.attribute }}
                                    </div>
                                        
                                    {% if card.frameType == "normal" or card.frameType == "effect" or card.frameType == "ritual" or card.frameType == "fusion" or card.frameType == "synchro" %}
                                        <div><b>Niveau/Rang : </b>{{ card.level }}</div>
                                        <div><b>attaque : </b>{{ card.atk }}</div>
                                        <div><b>Défense : </b>{{ card.def }}</div>
                                    {% elseif card.frameType == "pendulum" %}
                                        <div><b>Niveau/Rang : </b>{{ card.level }}</div>
                                        <div><b>attaque : </b>{{ card.atk }}</div>
                                        <div><b>Défense : </b>{{ card.def }}</div>
                                        <div><b>Echelle : </b>{{ card.scale }}</div>
                                    {% elseif card.frameType == "link" %}
                                        <div><b>Lien : </b>{{ card.linkval }}</div>
                                        <div>
                                            <b>Pointe vers :</b>
                                            {% for linkmarker in card.linkmarkers %}
                                                {{ linkmarker }}
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                {% endif %}
                                <div class="caracard">
                                    <b>Type : </b>{{ card.race }}<br>
                                    <b>Effect : </b>{{ card.desc }}
                                </div>
                                
                            </div>
                            
                                
                        </div>
            </dialog>
                    <img class="img" src="{{ asset ('images/' ~ card.id ~ '.jpg') }} " alt="{{ card.name }}">
        </div>
        {#disparait à la recherche de card dans deck...#}
        {% if isDeck is defined and isDeck %}
        {% include "deck/_detailCard.html.twig" ignore missing %}

        {% endif %}
    </div>               
{% endfor %}
</div> 
    <div id="pagination">
        <form id="pagingcard" action="{{ path('next_page') }}" method="post">
            {% if cards.meta.previous_page is defined %}
            <input name="urlPreviousPage" value="{{ cards.meta.previous_page }}" type="hidden">
                <button type="submit" title="PrevPage" id="prevPage">
                    <i>Previous</i>
                </button>
                
                    
            {% endif %}
            
            <a href="{{ path('next_page', {'num': cards.meta.total_pages}) }}"></a>     
                
            {% if cards.meta.next_page is defined %}
                <input name="urlNextPage" value="{{ cards.meta.next_page }}" type="hidden">
                <button type="submit" title="NextPage" id="nextPage">
                <i>Next</i>
            </button>
            {% endif %}
        </form> 
    </div>
