
    {% for card in cards.data %}
        <div id="card">
            <div id="image-carte-min">{#<img src="{{ asset (card.card_images[0].image_url_small) }}">{#}</div>
            <div id="card-info">
                <div class="details">
                    <div class="carac">
                        <a href="{{ path('show_card', {'id': card.id}) }}">{{ card.name }}</a>
                        <p>{{ card.type }}</p>
                
                    
                        {% if card.frameType == "normal" or card.frameType == "effect" or card.frameType == "ritual" or card.frameType == "fusion" or card.frameType == "synchro" or card.frameType == "xyz" or card.frameType == "pendulum" or card.frameType == "link" %}
                            <P>Attribut : {{ card.attribute }}<br>
                            
                                {% if card.frameType == "normal" or card.frameType == "effect" or card.frameType == "ritual" or card.frameType == "fusion" or card.frameType == "synchro" %}
                                Niveau/Rang : {{ card.level }}<br>
                                attaque : {{ card.atk }}<br>
                                Défense : {{ card.def }}<br>
                                {% elseif card.frameType == "pendulum" %}
                                Niveau/Rang : {{ card.level }}<br>
                                attaque : {{ card.atk }}<br>
                                Défense : {{ card.def }}<br>
                                Echelle : {{ card.scale }}<br>
                                {% elseif card.frameType == "link" %}
                                Lien : {{ card.linkval }}<br>
                                Pointe vers :
                                    {% for linkmarker in card.linkmarkers %}
                                    <p>{{ linkmarker }}</p>
                                    {% endfor %}
                                {% endif %}
                        {% elseif card.frameType == "spell" or card.frameType == "trap" %}
                            {{ card.race }}
                        {% endif %}
                        {{ card.desc }}</p>
                    </div>
                    <div class="data">
                        <form action="{{ path('card_add') }}" method="post">
                            {% if card.frameType == "normal" or card.frameType == "effect" or card.frameType == "ritual" or card.frameType == "fusion" or card.frameType == "synchro" or card.frameType == "xyz" or card.frameType == "pendulum" or card.frameType == "link" %}
                            <input type="hidden" name="attribute" value="{{ card.attribute }}">
                            <input type="hidden" name="att" value="{{ card.atk }}">
                            
                                {% if card.frameType == "normal" or card.frameType == "effect" or card.frameType == "ritual" or card.frameType == "fusion" or card.frameType == "synchro" %}
                                <input type="hidden" name="level" value="{{ card.level }}">
                                <input type="hidden" name="def" value="{{ card.def }}">
                                {% elseif card.frameType == "pendulum" %}
                                <input type="hidden" name="level" value="{{ card.level }}">
                                <input type="hidden" name="def" value="{{ card.def }}">
                                <input type="hidden" name="scale" value="{{ card.scale }}">
                                {% elseif card.frameType == "link" %}
                                <input type="hidden" name="link" value="{{ card.linkval }}">
                                {#<input type="hidden" name="link_marker" value="{{ card.linkmarkers }}">#}
                                {% endif %}
                            {% endif %}
                            <input type="hidden" name="name" value="{{ card.name }}">
                            <input type="hidden" name="race" value="{{ card.race }}">
                            <input type="hidden" name="effect" value="{{ card.desc }}">
                            {% for element in card.card_images %}
                                <input type="hidden" name="picture" value="{{ element.image_url }}">
                            {% endfor %}
                            <button type="submit">
                                <i>add</i>
                            </button>
    
                        </form>
    
                    </div>
                </div>
            </div>
        </div>
          
    {% endfor %}