
        {{ form_start(formSearchCard, {'action': "/cards/fetch-cards", 'method': "post"}) }}
        {{ form_row(formSearchCard.name) }}
        {{ form_row(formSearchCard.typecard)}}
        {{ form_row(formSearchCard.race)}}
        <div id="typeMonster">
            {{ form_row(formSearchCard.attribute)}}
            {{ form_row(formSearchCard.level)}}
            {{ form_row(formSearchCard.att)}}
            {{ form_row(formSearchCard.def)}}
            {{ form_row(formSearchCard.scale)}}
            {{ form_row(formSearchCard.link)}}
            {{ form_row(formSearchCard.linkMarker)}}
        </div>
            {{ form_row(formSearchCard.chercher)}}
        {{ form_end(formSearchCard) }}