
        {{ form_start(formSearchCard, {'action': "/cards/fetch-cards", 'method': "post"}) }}
        {{ form_row(formSearchCard.name)}}
        {{ form_row(formSearchCard.attribute)}}
        {{ form_row(formSearchCard.level)}}
        {{ form_row(formSearchCard.race)}}
        {{ form_row(formSearchCard.att)}}
        {{ form_row(formSearchCard.def)}}
        {{ form_row(formSearchCard.scale)}}
        {{ form_end(formSearchCard) }}

       

       {# <form action="{{ path('card_fetch') }}" method="post">
            <input type="textbox" name="card_name">
            <button type="submit">
                <i>recherche</i>
            </button>
        </form> #}
        