{% extends 'base.html.twig' %}

{% block title %}Hello ApiController!{% endblock %}

{% block body %}
    <h1> Detail Carte</h1>

            
            {% for card in card.data %}
            <div id="image-carte-min">
                <img src="{{ asset ('images/' ~ card.id ~ '.jpg') }}">
            </div>
            <div class="carac">
                <h2>{{ card.name }}</h2>
                <p>{{ card.type }}
                    
                        {% if card.frameType == "normal" or card.frameType == "effect" or card.frameType == "ritual" or card.frameType == "fusion" or card.frameType == "synchro" or card.frameType == "xyz" %}
                        Niveau/Rang : {{ card.level }}<br>
                        attaque : {{ card.atk }}<br>
                        Défense : {{ card.def }}<br>
                        {% elseif card.frameType == "link" %}
                        Lien : {{ card.linkval }}<br>
                        Pointe vers :
                            {% for linkmarker in card.linkmarkers %}
                            {{ linkmarker }}<br>
                            {% endfor %}
                        {% endif %}
                        Type : {{ card.race }}<br>
                        effect : {{ card.desc }}</p>
                {% if card.typeline is defined %}
                    {% for typeline in card.typeline %}
                        {% if typeline == "Pendulum" %}
                            <P>Attribut : {{ card.attribute }}<br>
                            Niveau/Rang : {{ card.level }}<br>
                            attaque : {{ card.atk }}<br>
                            Défense : {{ card.def }}<br>
                            Echelle : {{ card.scale }}<br>
                            {% if card.pend_desc is defined %}
                                effet pendule : {{ card.pend_desc }}</br>
                            {% endif %}
                            {% if card.monster_desc is defined %}
                                effet monstre : {{ card.monster_desc }}</br>
                            {% else %}
                                {{ card.desc }}
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                {% endif %}
            
                </p>
            </div>
            <div class="homeDeck">
            {% if deckCards is defined %}
                {% for deckCard in deckCards %}

                
                    <div class="imagedeck">
                        <div class="titredeck">
                            <h5>   
                                <a href="{{ path('show_deck', {'id': deckCard.deck.id}) }}">{{deckCard.deck.title}}</a>
                            </h5>
                        </div>
                        <img src="{{ asset ('imagesSite/deckbox.jpg') }}" class="background-image">
                        <img src="{{ asset ('imagesDeck/' ~ deckCard.deck.picture ~ '.jpg') }}"class="foreground-image">
                        <div class="corpdeck">
                            <p>
                                crée par {{deckCard.deck.user}}<br>
                                à {{deckCard.deck.createdAt|date('d-m-Y')}}
                            </p>
                        </div>
                    
                    </div>
                {% endfor %}
            {% endif %}
            </div>
            {% endfor %}
{% endblock %}
