{% extends 'base.html.twig' %}

{% block title %}Hello ApiController!{% endblock %}

{% block body %}
            {% for card in card.data %}
            <h1>{{ card.name }}</h1>
            <div class="page-detailCard">
                <div id="image-carte-min">
                    <img src="{{ asset ('images/' ~ card.id ~ '.jpg') }}">
                </div>
                <article class="carac">
                    <div class="type">{{ card.type }}</div>
                    <div class="race">Type : {{ card.race }}</div>
                        
                            {% if card.frameType == "normal" or card.frameType == "effect" or card.frameType == "ritual" or card.frameType == "fusion" or card.frameType == "synchro" or card.frameType == "xyz" %}
                            <div class="level">Niveau/Rang : {{ card.level }}</div>
                            <div class="attribute">Attribut : {{ card.attribute }}</div>
                            <div class="att">attaque : {{ card.atk }}</div>
                            <div class="def">Défense : {{ card.def }}</div>
                            <div class="effect">{{ card.desc|nl2br }}</div>
                            {% elseif card.frameType == "link" %}
                            <div class="link">Lien : {{ card.linkval }}</div>
                            <div class="linkMarker">Pointe vers :
                                {% for linkmarker in card.linkmarkers %}
                                {{ linkmarker }}
                                {% endfor %}
                            </div>
                            <div class="effect">{{ card.desc|nl2br }}</div>
                            {% elseif card.frameType == "spell" or card.frameType == "trap" %}
                            <div class="effect">{{ card.desc|nl2br }}</div>
                            {% endif %}
                            
                    {% if card.typeline is defined %}
                        {% for typeline in card.typeline %}
                            {% if typeline == "Pendulum" %}
                            <div class="attribute">Attribut : {{ card.attribute }}</div>
                            <div class="level">Niveau/Rang : {{ card.level }}</div>
                            <div class="att">attaque : {{ card.atk }}</div>
                            <div class="def">Défense : {{ card.def }}</div>
                            <div class="scale">Echelle : {{ card.scale }}</div>
                                {% if card.pend_desc is defined and card.monster_desc is defined %}
                                    <div class="effect">effet pendule : {{ card.pend_desc|nl2br }}</div>
                                    <div class="effect">effet monstre : {{ card.monster_desc|nl2br }}</div>
                                {% else %}
                                    <div class="effect">{{ card.desc|nl2br }}</div>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                
                    
                </article>
            </div>
            <div class="homeDeck">
            {% if deckCards is defined %}
                {% for deckCard in deckCards %}

                
                    <div class="imagedeck">
                        <div class="titredeck">
                            <h5>   
                                <a href="{{ path('show_deck', {'id': deckCard.deck.id}) }}">{{deckCard.deck.title}}</a>
                            </h5>
                        </div>
                        <img src="{{ asset ('imagesSite/deckbox.jpg') }}" class="background-image">
                        <img src="{{ asset ('imagesDeck/' ~ deckCard.deck.picture ~ '.jpg') }}"class="foreground-image">
                        <div class="corpdeck">
                            <p>
                                crée par {{deckCard.deck.user}}<br>
                                à {{deckCard.deck.createdAt|date('d-m-Y')}}
                            </p>
                        </div>
                    
                    </div>
                {% endfor %}
            {% endif %}
            </div>
            {% endfor %}
{% endblock %}
