<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        {% block stylesheets %}
        {% endblock %}
            {% block javascripts %}
        {% block importmap %}{{ importmap('app') }}{% endblock %}
        
            
        {% endblock %}

        
    </head>
    <body>
        <header id="navbar">
            <a href="{{ path('app_home') }}">Acceuil</a>
            <a id="loadedlistcard" href="{{ path('cards_list') }}">liste de carte</a>
            <a href="{{ path('app_deck')}}">Deck</a>
            <a href="{{ path('app_category') }}">Forum</a>
            {% if app.user %}
            <a href="{{ path('app_deckUser', {'id': app.user.id}) }}"> Mes Deck</a>
            
            <a href="{{ path('app_user') }}">Mon profil</a>
            <a href="{{ path('app_logout') }}">Se déconnecter</a>
            {% else %}
            <a href="{{ path('app_login') }}">Se connecter</a>
            <a href="{{ path('app_register') }}">S'enregister</a>
        {% endif %}
        {% if is_granted("ROLE_ADMIN") %}
            <a href="{{ path('app_AdminPanel') }}">Panneau d'administration</a>
        {% endif %}
        
        </header>
        
        
        <main>
            <div id="wrapper">
                {% block body %}{% endblock %}
            </div>
        </main>

        <footer>
            <div class="footer-bottom">
                <p>&copy; 2024 YugiDeck. Tous droits réservés.</p>
            </div>
        </footer>
        <script src='script.js'></script>
    </body>

</html>
