<h2>{{deck.title}}</h2>
{{ dump( deckCards )}}           
                <div id="deck">
                    <div id="main-deck">
                        
                        {% for deckCard in deckCards %}
                        
                        
                            {% if deckCard.qtt > 0 and deckCard.card.typecard != "Fusion Monster" and deckCard.card.typecard != "Link Monster" and deckCard.card.typecard != "Pendulum Effect Fusion Monster" and deckCard.card.typecard != "Synchro Monster" and deckCard.card.typecard != "Synchro Pendulum Effect Monster" and deckCard.card.typecard != "Synchro Tuner Monster" and deckCard.card.typecard != "XYZ Monster" and deckCard.card.typecard != "XYZ Pendulum Effect Monster"%}
                                {% for i in 1.. deckCard.qtt %}
                                    {% if isDeck is defined and isDeck %}
                                        <a href="{{ path('card_delete_to_deck', {'id': deckCard.card.id, 'idDeck': deck.id}) }}"> 
                                    {% else %}
                                        <a href="{{ path('show_card', {'id': deckCard.card.refCard}) }}">
                                    {% endif %}
                                    
                                        <div class="image-carte-min"><img src="{{ asset ('images/' ~ deckCard.card.refcard ~ '.jpg') }}" alt="{{deckCard.card.name}}"></div>
                                    </a> 
                                {% endfor %}
                            {% endif %}
                        {% endfor %}
                    </div>
                    <div id="extra-deck">
                        {% for deckCard in deckCards %}
                            {% if deckCard.qtt > 0 and deckCard.card.typecard == "Fusion Monster" or deckCard.card.typecard == "Link Monster" or deckCard.card.typecard == "Pendulum Effect Fusion Monster" or deckCard.card.typecard == "Synchro Monster" or deckCard.card.typecard == "Synchro Pendulum Effect Monster" or deckCard.card.typecard == "Synchro Tuner Monster" or deckCard.card.typecard == "XYZ Monster" or deckCard.card.typecard == "XYZ Pendulum Effect Monster"%}
                                {% for i in 1.. deckCard.qtt %}
                                    <a href="{{ path('card_delete_to_deck', {'id': deckCard.card.id, 'idDeck': deck.id}) }}"> 
                                    <div class="image-carte-min"><img src="{{ asset ('images/' ~ deckCard.card.refcard ~ '.jpg') }}" alt="{{deckCard.card.name}}"></div>
                                    </a> 
                                {% endfor %}
                            {% endif %}
                        {% endfor %}
                    </div>
                    <div id="side-deck">
                        {% for deckCard in deckCards %}
                            {% if deckCard.qttSide > 0 %}
                                {% for i in 1.. deckCard.qttSide %}
                                <a href="{{ path('card_delete_to_side', {'id': deckCard.card.id, 'idDeck': deck.id, 'qttSide': deckCard.qttSide}) }}"> 
                                <div class="image-carte-min"><img src="{{ asset ('images/' ~ deckCard.card.refcard ~ '.jpg') }}" alt="{{deckCard.card.name}}"></div>
                                </a> 
                                {% endfor %}
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>