{% extends 'base.html.twig' %}

{% block title %}Hello DeckController!{% endblock %}

{% block body %}
<div class="js-filter">
    <div id="body-deck">

        <div id="bloc-deck">
            {{ form_start(formDeck) }}
            {{ form_row(formDeck.title) }}
            <div class="hidden">
                {{ form_row(formDeck.createdAt) }}
                {{ form_row(formDeck.card) }}
            {{ form_row(formDeck.picture) }}
            </div>
            
            {{ form_row(formDeck.closed) }}
            {{ form_row(formDeck.user) }}
            {{ form_row(formDeck.valider) }}
            {{ form_end(formDeck) }}
            
            <h2>Deck</h2>
            {{dump(deck)}}

                
                <div id="deck">
                    <div id="main-deck">
                        {% for card in deck.card %}

                        <div class="image-carte-min"><img src="{{ asset ('images/' ~ card.refcard ~ '.jpg') }}"></div>
                        
                        {% endfor %}
                    </div>
                    <div id="extra-deck">
                        Extra
                    </div>
                    <div id="side-deck">
                        Side
                    </div>
                </div>
        </div>
    
        <div id="bloc-recherche">
            <h3>recherche</h3>
            <div id="card-search-filter" style="display:none;">
                {% include "card/_form.html.twig" %}
            </div>
            <button type="button" id="openFormSearch">option recherche</button>   
             <div class="js-filter-content-deck">
                {% include "deck/_content.html.twig" %}
            </div> 
            
        </div> 
        
    </div> 
</div>

{% endblock %}