{% extends 'base.html.twig' %}

{% block title %}Hello DeckController!{% endblock %}

{% block body %}
<div class="js-filter">
    <div id="body-deck">
        
        <div id="bloc-deck">
            <div id="info-deck">
            {{ form_start(formDeck) }}
            {{ form_row(formDeck.title) }}
            {{ form_row(formDeck.createdAt) }}
            {{ form_row(formDeck.card) }}
            {{ form_row(formDeck.picture) }}
            {{ form_row(formDeck.closed) }}
            {{ form_row(formDeck.user) }}
            {{ form_row(formDeck.valider) }}
            {{ form_end(formDeck) }}
            <div class="image-carte-cropped"><img src="{{ asset ('imagesDeck/' ~ deck.picture ~ '.jpg') }}"></div>
            
            </div>
            
            <h2>Deck</h2>
                
                <div id="deck">
                    <div id="main-deck">
                        {% for card in deck.card %}
                        
                        <a href="{{ path('card_delete_to_deck', {'id': card.id, 'idDeck': deck.id}) }}"> 
                        <div class="image-carte-min"><img src="{{ asset ('images/' ~ card.refcard ~ '.jpg') }}" alt="{{card.name}}"></div>
                        </a> 
                        {% endfor %}
                    </div>
                    <div id="extra-deck">
                        Extra
                    </div>
                    <div id="side-deck">
                        Side
                    </div>
                </div>
        </div>
        {% if deck.title is not null %}
            <div id="block-recherche-deck">
                <h3>recherche</h3>
                <div id="card-search-filter" style="display:none;">
                    {% include "card/_form.html.twig" %}
                </div>
                <button type="button" id="openFormSearch">option recherche</button>   
                <div class="js-filter-content">
                    {% include "card/_content.html.twig" with {'isDeck': true} %}
                </div> 
                
            </div> 
        {% endif %}
        
    </div> 
</div>

{% endblock body %}