{% extends 'base.html.twig' %}

{% block title %}Hello DeckController!{% endblock %}

{% block body %}
<div class="js-filter">
        <div id="bloc-deck">
            <div id="panneau-deck">
                <div class="image-carte-cropped"><img src="{{ asset ('imagesDeck/' ~ deck.picture ~ '.jpg') }}"></div>
                <div class="info-deck">
                    <div class="date-deck">Crée le : {{deck.createdAt|date('d-m-Y')}}</div>
                    <div class="prive-deck">
                        {% if deck.closed %}
                            deck privée
                        {% else %}
                            deck public
                        {% endif %}
                    </div>
                    <div class="user-deck"> Par {{deck.user}}</div>
                </div>
            </div>
            
            
            <div id="deck-content">
                {% include "deck/_tempDeck.html.twig" %}
            </div>
            <div class="Postdeck">
                {% if deck.posts is defined %}
                    {% for post in deck.posts %}
                        <div class="message">
                            <div class="head_message">
                                écrit le {{post.createdAt|date("d-m-Y")}}</br>
                                par {{post.user}}
                            </div>
                            <p>{{post.text|nl2br}}</p>
                        </div>
                    {% endfor %}
                {% endif %}
                {#
                {{ form_start(formPost, {'action': path('new_post') }) }}
                {{ form_row(formPost.text)}}
                {{ form_row(formPost.createdAt)}}
                {{ form_row(formPost.deck, {'class' : deck.id} )}}
                {{ form_row(formPost.user)}}
                {{ form_end(formPost) }}
                 #}
            </div>
        </div>
</div>

{% endblock body %}