{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}
<div id="page">
    <div id="page-user">

        <div id="image-user">
            <img src="https://picsum.photos/150"></br>
            <a href=""> Changer d'avatar</a>
            {#<form action="{{ path('update_picture', {'id': app.user.id}) }}" method="post">
            <input type="hidden" name="picture" value="{{ asset ('images/' ~ card.id ~ '.jpg') }}">
                        <button type="submit">
                            <i>add</i>
                        </button>
            </form>#}
        </div>

        <div id="username-user">
            <h1>{{app.user.username}}</h1>

            <form action="{{ path('update_username') }}" method="post">
                <input name="username" value="{{ app.user.username }}">
                            <button type="submit">
                                <i>modify</i>
                            </button>
            </form>
        </div>

        <div id="email-user">
            <h6>{{app.user.email}}</h6>
            <form action="{{ path('update_email') }}" method="post">
                <button type="submit">
                    <i>modify</i>
                </button>
                <input name="email" value="{{ app.user.email }}">

            </form>
        </div>

        <div id="password-user">

            <form action="{{ path('update_password') }}" method="post">
                <button type="submit">
                    <i>modify</i>
                </button>
                <input name="password" value=""pattern="(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{12,}" 
                title="Le mot de passe doit contenir au moins une majuscule, un chiffre, un caractère spécial et être d'au moins 12 caractères.">

            </form>
        </div>

        <a href="{{ path('app_deckUser', {'id': app.user.id}) }}"> Mes Deck</a>
        <a href="{{ path('app_topic', {'id': app.user.id}) }}"> Mes Topic</a>
        <a href="{{ path('delete_user', {'userId': app.user.id}) }}">Supprimer le compte</a>
    </div>
</div>
{% endblock %}